*.exe
*.obj
*.out
*.compile
*.native
*.byte
*.cmo
*.annot
*.cmi
*.cmx
*.cmt
*.cmti
*.cma
*.a
*.cmxa
*.obj
*~
*.annot
*.cmj
*.bak
lib/bs
*.mlast
*.mliast
*.install
.vscode
.merlin
.bsb.lock
.cache/

yarn-error.log
dist/
node_modules/
lib/
src/**/*.bs.js
src/**/*.tsx
src/**/*.ts
src/**/*.js.flow
include/**/*.js
__tests__/**/*.js
coverage/
_esy/
public/
