@font-face {
  font-family: 'phantom-sans';
  src: url("https://phantomsans.kitten.sh/PhantomSans05VAR.woff2") format("woff2-variations"),
       url("https://phantomsans.kitten.sh/PhantomSans05VAR.ttf") format("truetype-variations"),
       url("https://phantomsans.kitten.sh/PhantomSans-Regular.woff2") format("woff2"),
       url("https://phantomsans.kitten.sh/PhantomSans-Regular.ttf") format("truetype");
  font-weight: 1 999;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'space-mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Space Mono Italic'),
       local('SpaceMono-Italic'),
       url(https://fonts.gstatic.com/s/spacemono/v4/i7dNIFZifjKcF5UAWdDRYERMR3K_MQacbw.woff2) format('woff2');
}

@font-face {
  font-family: 'space-mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Space Mono'),
       local('SpaceMono-Regular'),
       url(https://fonts.gstatic.com/s/spacemono/v4/i7dPIFZifjKcF5UAWdDRYEF8RXi4EwQ.woff2) format('woff2');
}
